#about {
  background-color: $green;
  .img{
    height: 35rem;
    box-shadow: 1rem 1rem 2rem rgba(#000,0.2);
    @media (max-height:720px) {
      height: 20rem;
    }
  }
  .art {
    .text {
      margin-left: 8rem;
    }

    .line {
      width: 320px;

      &-1 {
        .text {
          margin-top: -24px;
          margin-bottom: 40px;
        }
      }
      &-2 {
        .text {
          margin-top: -48px;
          margin-bottom: 56px;
        }
      }
      &-3 {
        .text {
          margin-top: -48px;
        }
      }
    }
  }
}
